<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pingplusplus.react"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="29" />

    <application>
        <activity
            android:name="com.pingplusplus.react.PingppActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
    </application>

</manifest>
